
@font-face {
  font-family: vag;
  src: url(../styles/assets/VAG\ Rounded\ Regular.ttf);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: vag, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: vag !important;
}

* {
  box-sizing: border-box;
}
